/* Allgemeine Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #f0f0f0;
    background-color: #1c1c1c;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

/* Startseite */
#hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/ImCasten (8 von 26) - Kopie.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: 1;
}

.overlay {
    position: relative;
    z-index: 2;
    color: white;
}

#hero h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    color: #ff6600;
}

#hero p {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Über mich */
#about, #career, #sparmahl, #projects, #social-media {
    padding: 100px 0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ff6600;
}

/* Projekte */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-item, .project-item2 {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.project-item img, .project-item2 img {
    height: 250px;
    width: auto;
    border-radius: 20px;
}
/* Social Media */
#social-media {
    text-align: center;
    padding: 50px 0;
}

#social-media .social-links a {
    margin: 0 15px;
    display: inline-block;
}

#social-media img {
    transition: transform 0.3s ease;
}

#social-media img:hover {
    transform: scale(1.2);
}

/* Vollbild bei Inaktivität */
#fullscreenImage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

#fullscreenImage img {
    max-width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.overlay-text h2 {
    font-size: 4rem;
}

.overlay-text p {
    font-size: 1.5rem;
    margin-top: 10px;
}

a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff6600;
}

p {
    text-align: justify;
    line-height: 1.9;
}